.header {
  background-color: #ffe6e8;
  padding-bottom: 2rem; }

.logo {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both; }

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

h1 {
  font-family: pacifico;
  font-size: 60px;
  font-weight: 500; }

header ul {
  display: flex;
  font-family: 'Playfair Display', serif; }

header li {
  display: flex;
  padding: 20px;
  font-size: 20px; }

/*FONDO GRADIENTE*/
/*PALETA*/
body main {
  background: linear-gradient(0deg, #acd8aa 14%, #f2ccc3 56%, #ffe6e8 100%);
  font-family: 'Playfair Display', serif; }

.carousel-inner img {
  margin: auto; }

.carousel-caption {
  color: black;
  background-color: rgba(255, 255, 255, 0.4); }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  background-color: #3a914d; }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-color: #3a914d; }

.proyecto_img {
  transition: 1s; }

.proyecto_img:hover {
  transform: scale(1.15); }

.proyectos_section_p {
  font-size: 40px;
  font-family: 'Lobster Two', cursive; }

.patrones_h2 {
  font-size: 50px;
  text-align: center;
  font-family: 'Lobster Two', cursive; }

/*FONDO GRADIENTE*/
/*PALETA*/
footer {
  background-color: #acd8aa;
  padding-top: 3rem; }
  footer a:hover {
    color: #ffe6e8; }
  footer ul {
    display: flex;
    font-family: 'Playfair Display', serif; }
  footer li {
    display: flex;
    padding: 20px;
    font-size: 20px; }

/*FONDO GRADIENTE*/
/*PALETA*/
/*FONDO GRADIENTE*/
/*PALETA*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none; }
  *::selection {
    background-color: #7dcc8e; }

a {
  text-decoration: none; }
  a:link {
    color: #3a914d; }
  a:visited {
    color: #3a914d; }
  a:hover {
    color: #acd8aa; }
  a:active {
    color: #ffe6e8; }

#div_logo {
  display: flex;
  justify-content: center; }

.header h1 {
  display: flex;
  justify-content: center; }

.header_nav {
  display: flex;
  justify-content: center; }

.clase_subrayada {
  text-decoration: underline;
  text-decoration-color: #3a914d; }

/*MEDIA QUERIES*/
@media screen and (max-width: 1024px) and (min-width: 800px) {
  #div_logo {
    display: flex;
    justify-content: center; }
  .header h1 {
    display: flex;
    justify-content: center;
    font-size: 78px; }
  .header_nav {
    display: flex;
    justify-content: center; }
  .proyectos_img:hover {
    transform: scale(1.05); }
  footer h1 {
    font-size: 78px; } }

@media screen and (max-width: 768px) and (min-width: 636px) {
  #div_logo, .header h1, .header_nav {
    display: flex;
    justify-content: center; }
  .proyectos_img:hover {
    transform: scale(1.05); } }

@media screen and (max-width: 635px) and (min-width: 150px) {
  a {
    text-decoration: none; }
    a:link {
      color: black; }
    a:visited {
      color: black; }
    a:hover {
      color: #acd8aa; }
    a:active {
      color: #ffe6e8; }
  #div_logo {
    display: flex;
    justify-content: center; }
  .header h1 {
    display: flex;
    justify-content: center; }
  header nav {
    width: 100%; }
  header ul {
    display: flexbox;
    flex-direction: column;
    padding: 0; }
  header li {
    padding: .5rem; }
  #menu_on {
    display: inline-block;
    width: 30px;
    height: 20px;
    position: absolute;
    z-index: 4;
    margin-left: 10px;
    margin-top: 25px; }
    #menu_on span {
      width: 100%;
      height: 4px;
      border-radius: 4px;
      display: block;
      position: absolute;
      background: black;
      transition: all 0.50s ease;
      transform-origin: 0px 100%; }
  #menu_on span:nth-child(2) {
    top: calc(50% - 2px); }
  #menu_on span:nth-child(3) {
    bottom: 0; }
  .header_nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 230px;
    z-index: 3;
    padding: 90px 30px 30px;
    background: linear-gradient(0deg, #ffe6e8 12%, #acd8aa 76%, #acd8aa 100%);
    opacity: 0;
    transition: all 0.75s ease;
    overflow-y: auto; }
    .header_nav a {
      display: block;
      text-decoration: none;
      padding: 10px;
      transition: all ease 0.25s; }
  .visible_menu span:nth-child(1) {
    transform: rotate(45deg) translate(-2px, 1px); }
  .visible_menu span:nth-child(2) {
    opacity: 0; }
  .visible_menu span:nth-child(3) {
    transform: rotate(-45deg) translate(-3px, 3px); }
  .visible_menu nav {
    left: 0;
    opacity: 0.97; }
  .visible_menu #content {
    transform: translateX(260px); }
  .carousel {
    max-width: 90%;
    margin-left: 5%; }
    .carousel-item img {
      width: 99%;
      height: 50%; }
    .carousel-caption {
      line-height: 18px; }
  .proyectos_div img {
    max-width: 256px;
    max-height: 290px; }
  .proyectos_img:hover {
    transform: scale(1.05); }
  footer nav {
    display: none; } }

/*MEDIA QUERIES END*/
/*FONDO GRADIENTE*/
/*PALETA*/
