body main{
    background: $gradientefondo;
    font-family: 'Playfair Display', serif;
}

.carousel-inner img {
    margin: auto;
}

.carousel-caption {
    color: black;
    background-color: rgba(255, 255, 255, 0.4)
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
    background-color: $verdeclaro;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-color: $verdeclaro;
}

.proyectos_div {
    transition: 1s;
}

.proyectos_div:hover {
    transform: scale(1.2);
}

.proyectos_section_p{
    font-size: 40px;
    font-family: 'Lobster Two', cursive;
}

.patrones_h2{
    font-size: 50px;
    text-align: center;
    font-family: 'Lobster Two', cursive;
}

@import "./variables.scss"