footer{
    background-color: $verdepalido;
    font-family: 'Playfair Display', serif;
    padding-top: 3rem;
}

.footer_ul{
    display: flex;
    font-family: 'Playfair Display', serif;
}

.footer_li{
    display: flex;
    padding: 20px;
    font-size: 20px;
}

@import "./variables.scss"