header{
    background-color: #ffe6e8;
    padding: 5px;
    display: grid;
    grid-template-columns: 15% 35% 50%;
}

.logo {
	        -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

  h1{
    font-family: pacifico;
    font-size: 60px;
    align-self: center;
    font-weight: 500;
}

.header_nav{
    align-self: center;
}

.header_ul{
    display: flex;
    font-family: 'Playfair Display', serif;
}

.header_li{
    display: flex;
    padding: 20px;
    font-size: 20px;
}

.clase_subrayada {
    text-decoration: underline;
}