/*FONDO GRADIENTE*/
$gradientefondo:linear-gradient(0deg, rgba(172,216,170,1) 14%, rgba(242,204,195,1) 56%, rgba(255,230,232,1) 100%);

/*PALETA*/
$rosafuerte:#e78f8e;
$rosachicle:#f48498;
$rosaclaro:#f2ccc3;
$rosapalido:#ffe6e8;
$verdemoho:#3a914d;
$verdeclaro:#7dcc8e;
$verdepalido:#acd8aa;